<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="main-container">
    <div class="main-wrap">
      <header>
        <div class="sel-lang-wrap">
        </div>
        <div class="logo-wrap" style="
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 30px;
        ">
          Software System Security - 2nd homework
        </div>
      </header>
      <form action="/login" method="POST" class="login-input-section-wrap">
        <div class="login-input-wrap">
          <input id="id" name="id" placeholder="Username" type="text"></input>
        </div>
        <div class="login-input-wrap password-wrap">
          <input id="pw" name="pw" placeholder="Password" type="password"></input>
        </div>
        <div class="login-button-wrap">
          <button>Sign in</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>